@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

.cabecalho {
    padding: 2% 0% 0% 16%;
}

.cabecalho__menu { 
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {

    font-family: 'Montserrast', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

body {
    background-image: url ("/assets/lucas-calleri-sao-paulo1.jpg");
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
    color: #e9e3e3;
}
.presentation { 
    margin: 10% 16%; 
    display: flex;
    align-items:column; 
    justify-content:space-between;
}

.presentation__content {
    width: 615px;
    display: flex;
    flex-direction:column;
    gap: 35px;
}

.capalivro {
    max-height: 70vh;
}


.presentation__content__titulo {
    font-size:36px;
    font-family: "Krona One", sans-serif;
}

.presentation__content__paragraph {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;

}


.presentation__link{
    
    background-color: #ffffff;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;

}

.presentation__link__link{
    text-decoration: none;
    color:#f43535;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    
}

.rodape {
    padding: 24px; 
    color : #ffffff;
    background-color: #f40e0e;
    text-align: center;
    font-family: 'Monteserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

/*A partir daqui estou mexendo no about*/

.fotosobremim {

    border-radius: 16px;
    max-height: 55vh;
    padding:80px;

}

.presentation__about {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    width: 615px;
    display: flex;
    flex-direction:column;
    gap: 16px;
    
}
/*A partir daqui estou mexendo no Redes Sociais*/



